.outer-container {
    max-width: 1900px;
    margin: 0 auto;
}

img {
    width: 100%;
    border: 2px solid black;
    border-radius: 7px;
}

.container {
    text-align: center;
}

h1 {
    margin-top: 12px;
    font-size: 36px;
}

p {
    font-size: 24px;
}

/* Responsiveness for large devices */
@media only screen and (min-width: 768px) {

    .outer-container {
        display: flex;
        flex-direction: row-reverse;
    }

    /* for making equal partitions of hero section on large screen devices */
    .column {
        /* float: left; */
        width: 50%;
    }

    .container {
        margin-top: 10%;
    }

}